/**********general**********/
body {
	justify-content: center;
	align-items: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	color: #005eb8;
  overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	color: inherit;
}

h2 {
	color: inherit;
}

h3 {
	color: inherit;
}

header {
	position: absolute;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10vh;
	/*main and navigation display on the same area so z-index for each is specified
	- do not change*/
	z-index: 0;
	overflow-y: scroll;
}

button {
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1em;
}

.bigbutton {
	background-color: #005eb8;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.bigbutton a {
	text-decoration: none;
}

.bigbutton h1 {
	color: #ffffff;
}

/**********header bar**********/
#navbar {
	position: fixed;
	top: 0;
  height: 7vh;
  width: 100vw;
  padding: 1vh;
  align-items: left;
  background-color: #005eb8;
	display: flex;
	justify-content: space-between;
}

#navbar div {
  height: inherit;
}

#navbar div img {
  height: inherit;
}

#back_icon {
	padding-left: 1em;
	cursor: pointer;
}

#nhs_logo {

}

#menu_icon {
	padding-right: 1em;
	cursor: pointer;
}

/**********navigation**********/
#navigation {
	position: fixed;
	top: 10vh;
	left: 100%;
	width: 100%;
	height: 95vh;
	background-color: #ffffff;
	transition: 0.5s;
	z-index: 2;
}

#navigation h2 {
	color: #ffffff;
}

#navigation .list {
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: #005eb8;
}

#navigation .link {
	display: block;
	margin-bottom: 5vh;
	cursor: pointer;
}

#navigation .link a {
	text-decoration: none;
}

#navigation.active {
	left: 0%;
}

#settingslinks {
	display: none;
	margin-left: 5vw;
}

#settingslinks.active {
	display: block;
}

#logoutbutton {
	background-color: #828282;
	margin-top: 5vh;
	margin-left: 2vw;
}

#logoutbutton a {
	text-decoration: none;
}

#stafflogin a {
	color: #828282;
}

/**********body content**********/
.main_content {
	width: 50%;
	position: inherit;
	margin-top: 5vh;
	padding-left: 2vw;
	padding-right: 2vw;
}

#centercontent {
	left: 25%;
	text-align: center;
}

.title_section { /*contains title and possibly description of pges*/
	margin-left: 2vw;
	margin-right: 2vw;
}

/**********index page**********/
#indexdesc h2 {
	color: #828282;
}

#QRbanner {
	position: fixed;
	bottom: 0;
	height: 8vh;
	width: 50%;
	background-color: #000000;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	display: flex;
	justify-content: center;
}

#QRbanner h2 {
	color: #ffffff;
	margin-right: 5vh;
}

#QRicon img {
	height: 40px;
	margin-top: 2vh;
}

/**********check in process**********/
.progress_bar {
	background-color: #bfbfbf;
	margin-bottom: 5vh;
}

#progress {
	height: 24px;
	background-color: #005eb8;
	width: 20%;
}

#progress h3 {
	color: #ffffff;
}

#step1 {

}

#step2, #step3, #step4 {
	display: none;
}

#mobile, #dob, #surname {
	width: 50%;
	height: 2em;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-top: 5vh;
	font-family: inherit;
	font-size: inherit;
}

#code_input {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#code_input input {
	width: 15%;
	height: 2em;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-top: 5vh;
	font-family: inherit;
	font-size: inherit;
}
/**********settings pages styling**********/
.settings_content_section { /*sections for content layout on settings pages*/
	margin-bottom: 10vh;
}

.changedetailsbutton {
	background-color: #005eb8;
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: 2vw;
}

.changedetailsbutton h3 {
	color: #ffffff;
}

/**********toggle switch settings**********/
.switch_container {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.switch {
	position: relative;
	display: inline-block;
	margin-top: 2vh;
	width: 60px;
	height: 34px;
}

.switch input { /*hide default check box*/
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
	background-color: #828282;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005eb8;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/**********mobile or other device responsiveness settings**********/
/**********these must be kept at bottom after css declarations**********/
@media(max-width: 792px) {
	#main_content {
		width: 100%;
	}
}
