body {
	justify-content: center;
	align-items: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
  overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	color: #005eb8;
	padding-left: 2vw;
}

h2 {
	color: #ffffff;
}

header {
	position: absolute;
}

main {
	position: absolute;
	top: 10vh;
	z-index: 0;
}

/*header bar*/
#navbar {
	position: fixed;
	top: 0;
  height: 7vh;
  width: 100vw;
  padding: 1vh;
  align-items: left;
  background-color: #005eb8;
	display: flex;
	justify-content: space-between;
}

#navbar div {
  height: inherit;
}

#navbar div img {
  height: inherit;
}

#back_icon {
	padding-left: 1em;
	cursor: pointer;
}

#nhs_logo {

}

#menu_icon {
	padding-right: 1em;
	cursor: pointer;
}

/*navigation*/
#navigation {
	position: fixed;
	top: 10vh;
	left: 100%;
	width: 100%;
	height: 95vh;
	background-color: #ffffff;
	transition: 0.5s;
	z-index: 1;
}

#navigation .list {
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: #005eb8;
}

#navigation .link {
	display: block;
	margin-bottom: 5vh;
	cursor: pointer;
}

#navigation .link a {
	text-decoration: none;
}

#navigation.active {
	left: 0;
}

button {
	border: none;
	border-radius: 0;
}

#settingslinks {
	display: none;
	margin-left: 5vw;
}

#settingslinks.active {
	display: block;
}

#logoutbutton {
	background-color: #828282;
	margin-left: 2vw;
	padding-left: 1em;
	padding-right: 1em;
}

/*body content*/
